Repository EduardoMG12/payment-gateway-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --manifest-path rust-processor/Cargo.toml --, goimports -w, eslint --fix --config frontend/eslint.config.js, prettier --write

.lintstagedrc.json:

{
	"rust-processor/**/*.rs": [
		"cargo fmt --manifest-path rust-processor/Cargo.toml --"
	],
	"*.go": ["goimports -w"],
	"frontend/**/*.{js,jsx,ts,tsx}": [
		"eslint --fix --config frontend/eslint.config.js",
		"prettier --write"
	]
}

fix: change configuration lintstaged for my frontend
  .lintstagedrc.json
Due: none

chore: implement dev and prod build on docker
  docker-compose.dev.yml
  docker-compose.yml
  frontend/Dockerfile
Due: none

feat: add temporary cors configuration
  go-api/cmd/main.go
  go-api/internal/config/cors.go
Due: goimports -w

refactor: change urls and a simplye key value
  frontend/src/components/layout/Footer.tsx
  frontend/src/pages/StatementPage.tsx
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

refactor: change all errors hard code on go-api to multi-language errors
  go-api/internal/i18n/errors.go
  go-api/internal/transaction/handler.go
Due: goimports -w

refactor: add api env to frontend and modify response requests interface
  .env.example
  .env.example.development
  frontend/src/services/api.ts
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

refactor: some fixes to layout and render pages and ways to make request
  frontend/src/components/layout/Navbar.tsx
  frontend/src/pages/CreateCardPage.tsx
  frontend/src/pages/StatementPage.tsx
  frontend/src/pages/TransactionsPage.tsx
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

doc: update README documentation of all project
  README.md
  frontend/README.md
  go-api/README.md
  rust-processor/README.md
Due: none

feat: create routes of findTransactionById and findAllTransactionsByCardId
  go-api/internal/i18n/errors.go
  go-api/internal/repository/transaction.go
  go-api/internal/router/router.go
  go-api/internal/transaction/handler.go
  go-api/internal/transaction/service.go
Due: goimports -w

fix: resolve issues, get extract transactions dont working and little bugs
  frontend/src/components/FlowModal.tsx
  frontend/src/components/layout/Footer.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/StatementPage.tsx
  frontend/src/services/api.ts
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

fix: resolve problem with modalFlow reset
  frontend/src/components/FlowModal.tsx
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

feat: create new not-found page
  frontend/src/pages/NotFound.tsx
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

fix: remove debug logs and clean up transaction type rendering
  frontend/src/pages/StatementPage.tsx
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

feat: add API documentation section with link of Swagger and Postman collection download functionality
  frontend/public/payment-gateway.postman_collection.json
  frontend/src/pages/HomePage.tsx
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

feat: enhance SEO configuration across multiple pages and add favicon images
  frontend/index.html
  frontend/package.json
  frontend/public/favicon-16x16.png
  frontend/public/favicon-192x192.png
  frontend/public/favicon-32x32.png
  frontend/public/favicon-512x512.png
  frontend/public/favicon-64x64.png
  frontend/public/favicon.ico
  frontend/src/App.tsx
  frontend/src/config/seo.ts
  frontend/src/hooks/useSEO.tsx
  frontend/src/pages/CreateAccountPage.tsx
  frontend/src/pages/CreateCardPage.tsx
  frontend/src/pages/HomePage.tsx
  frontend/src/pages/NotFound.tsx
  frontend/src/pages/StatementPage.tsx
  frontend/src/pages/TransactionsPage.tsx
  frontend/src/types/global.d.ts
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

Enhance PayGateway documentation and scripts
  README.md
  frontend/README.md
  go-api/README.md
  rust-processor/README.md
  scripts/README.md
  scripts/setup.sh
Due: none

feat: add react-helmet-async and its type definitions for improved document head management
  frontend/pnpm-lock.yaml
Due: none

fix: handle potential null values for cards and transactions in CreateCardPage and StatementPage
  frontend/src/pages/CreateCardPage.tsx
  frontend/src/pages/StatementPage.tsx
Due: eslint --fix --config frontend/eslint.config.js, prettier --write

feat: enhance Docker configurations with health checks and .dockerignore files for go-api, frontend, and rust-processor
  docker-compose.dev.yml
  docker-compose.yml
  frontend/.dockerignore
  frontend/Dockerfile
  frontend/nginx.conf
  go-api/.dockerignore
  go-api/Dockerfile
  rust-processor/.dockerignore
Due: none

fix: fix prod and dev build and update response status and handle nil cards in card repository
  frontend/Dockerfile
  frontend/package-lock.json
  go-api/internal/card/handler.go
  go-api/internal/repository/card.go
  go-api/internal/router/router.go
Due: goimports -w
