Repository EduardoMG12/payment-gateway-challenge: changes, and which lint-staged commands are due for each by the changed paths.
All: cargo fmt --, goimports -w

chore: create file to run setup and add to doc
  .husky/pre-commit
  README.md
  package.json
  scripts/setup.sh
Due: none

feat: create models and repositories
  go-api/internal/models/account.go
  go-api/internal/models/card.go
  go-api/internal/models/transaction.go
  go-api/internal/repository/account.go
  go-api/internal/repository/card.go
  go-api/internal/repository/transaction.go
Due: goimports -w

chore: implement swagger doc
  go-api/cmd/main.go
  go-api/docs/docs.go
  go-api/docs/swagger.json
  go-api/docs/swagger.yaml
  go-api/go.mod
  go-api/go.sum
Due: goimports -w

chore: update README
  README.md
Due: none

chore: create errors response multi-language
  go-api/go.mod
  go-api/go.sum
  go-api/internal/api/response.go
  go-api/internal/i18n/errors.go
Due: goimports -w

feat: implement create and get accounts, (dtos/repository/handlers/services)
  go-api/cmd/main.go
  go-api/internal/account/dto/account.go
  go-api/internal/account/handler.go
  go-api/internal/account/service.go
  go-api/internal/repository/account.go
Due: goimports -w

chore: add routes create and get accounts of the swagger documentation
  go-api/docs/docs.go
  go-api/docs/swagger.json
  go-api/docs/swagger.yaml
Due: goimports -w

feat: add new route create card and modularize routes in external file, documentation route
  go-api/cmd/main.go
  go-api/docs/docs.go
  go-api/docs/swagger.json
  go-api/docs/swagger.yaml
  go-api/internal/account/service.go
  go-api/internal/card/handler.go
  go-api/internal/card/service.go
  go-api/internal/repository/account.go
  go-api/internal/repository/card.go
  go-api/internal/router/router.go
  go-api/internal/utils/card_generator.go
  go-api/migrations/0004_last_four_digits_of_card.sql
Due: goimports -w

refactor: documentation all DTOs and models whithout docs
  go-api/docs/docs.go
  go-api/docs/swagger.json
  go-api/docs/swagger.yaml
  go-api/internal/account/dto/account.go
  go-api/internal/card/dto/card.go
  go-api/internal/models/account.go
  go-api/internal/models/card.go
Due: goimports -w

feat: implement GetAllCardsByAccountId
  go-api/internal/card/dto/card.go
  go-api/internal/card/handler.go
  go-api/internal/card/service.go
  go-api/internal/i18n/errors.go
  go-api/internal/models/card.go
  go-api/internal/repository/card.go
Due: goimports -w

feat: implement router with modularization
  go-api/cmd/main.go
  go-api/go.mod
  go-api/go.sum
  go-api/internal/account/module.go
  go-api/internal/card/module.go
  go-api/internal/router/router.go
Due: goimports -w

chore: add swagger documentation of GetAllCardsByAccountId
  go-api/cmd/main.go
  go-api/docs/docs.go
  go-api/docs/swagger.json
  go-api/docs/swagger.yaml
  go-api/internal/card/handler.go
Due: goimports -w

feat: implement service/handler/module of create transaction and implement rabbitMQ
  go-api/cmd/main.go
  go-api/go.mod
  go-api/go.sum
  go-api/internal/account/module.go
  go-api/internal/card/module.go
  go-api/internal/card/service.go
  go-api/internal/i18n/errors.go
  go-api/internal/models/transaction.go
  go-api/internal/repository/card.go
  go-api/internal/repository/transaction.go
  go-api/internal/router/router.go
  go-api/internal/transaction/dto/transaction.go
  go-api/internal/transaction/handler.go
  go-api/internal/transaction/module.go
  go-api/internal/transaction/service.go
  go-api/internal/utils/rabbitmq.go
  go-api/migrations/0005_card_id_of_transections_can_be_null.sql
Due: goimports -w

chore: add swagger documentation of CreateTransaction and future feature GetTransactionByAccountId
  go-api/docs/docs.go
  go-api/docs/swagger.json
  go-api/docs/swagger.yaml
  go-api/internal/transaction/dto/transaction.go
  go-api/internal/transaction/handler.go
Due: goimports -w

feat: create initial structure rust-processor with conection rabbitmq and implement build of project on docker-compose
  .env.example
  .gitignore
  docker-compose.yml
  rust-processor/Cargo.lock
  rust-processor/Cargo.toml
  rust-processor/Dockerfile
  rust-processor/src/main.rs
  rust-processor/src/models.rs
  rust-processor/src/processor.rs
  rust-processor/src/rabbitmq.rs
Due: cargo fmt --

chore: fix lint-stage for rust linting
  .lintstagedrc.json
Due: none

chore: add go-api on docker and optimize go-api building, create two mods mod development and production
  .env.example.development
  .gitignore
  README.md
  docker-compose.dev.yml
  docker-compose.yml
  go-api/.air.toml
  go-api/Dockerfile
  go-api/Dockerfile.dev
  go-api/cmd/main.go
  go-api/go.mod
  go-api/internal/config/config.go
  go-api/internal/config/db_connection.go
  go-api/internal/config/rabbitmq_connection.go
  rust-processor/Cargo.lock
  rust-processor/Cargo.toml
  scripts/setup.sh
Due: goimports -w

style: lint and fix words
  go-api/.air.toml
Due: none

feat: add hot reloading to rust-processor
  docker-compose.dev.yml
  rust-processor/Dockerfile.dev
  scripts/setup.sh
Due: none

chore: create mod specific for running env and configure db
  rust-processor/Cargo.lock
  rust-processor/Cargo.toml
  rust-processor/src/config.rs
  rust-processor/src/db.rs
  rust-processor/src/main.rs
Due: cargo fmt --

chore: create a test route for getAllTransactionsByAccountIdOrderDate by show with rust processor is working right, and create constraint on schema to refund_transction_id
  go-api/internal/models/transaction.go
  go-api/internal/repository/transaction.go
  go-api/internal/router/router.go
  go-api/internal/transaction/dto/transaction.go
  go-api/internal/transaction/handler.go
  go-api/internal/transaction/service.go
  go-api/migrations/0006_add_enum_to_transaction_status.sql
  go-api/migrations/0007_add_refund_transction_id_to_transaction.sql
Due: goimports -w

backup/feat: create repository to getBalance, alter models add refund_transaction_id, make processors implementation and create services add some commentaries by hide warning errors
  rust-processor/Cargo.lock
  rust-processor/Cargo.toml
  rust-processor/src/main.rs
  rust-processor/src/models.rs
  rust-processor/src/models/mod.rs
  rust-processor/src/models/queue_model.rs
  rust-processor/src/models/transaction.rs
  rust-processor/src/processor.rs
  rust-processor/src/rabbitmq.rs
  rust-processor/src/repository/account_repository.rs
  rust-processor/src/repository/mod.rs
  rust-processor/src/repository/transaction_repository.rs
  rust-processor/src/services/deposit_service.rs
  rust-processor/src/services/mod.rs
  rust-processor/src/services/purchase_service.rs
  rust-processor/src/services/refund_service.rs
Due: cargo fmt --

feat: implement processor for when my type transaction is egual DEPOSIT
  go-api/migrations/0008_modify_colunm_date_time_created_at.sql
  rust-processor/Cargo.lock
  rust-processor/Cargo.toml
  rust-processor/src/models/account.rs
  rust-processor/src/models/mod.rs
  rust-processor/src/models/transaction.rs
  rust-processor/src/processor.rs
  rust-processor/src/repository/account_repository.rs
  rust-processor/src/repository/mod.rs
  rust-processor/src/repository/transaction_repository.rs
  rust-processor/src/services/deposit_service.rs
Due: cargo fmt --

feat: implement redis on docker
  .env.example
  .env.example.development
  docker-compose.yml
Due: none

feat: implement redis listen to go-api and litle struct modifies
  go-api/cmd/main.go
  go-api/go.mod
  go-api/go.sum
  go-api/internal/config/config.go
  go-api/internal/config/db_connection.go
  go-api/internal/config/rabbitmq_connection.go
  go-api/internal/config/redis_connection.go
  go-api/internal/connection/db.go
  go-api/internal/connection/rabbitmq.go
  go-api/internal/connection/redis.go
Due: goimports -w

feat: implement route getBalanceByAccountId
  go-api/internal/router/router.go
  go-api/internal/transaction/dto/transaction.go
  go-api/internal/transaction/handler.go
  go-api/internal/transaction/module.go
  go-api/internal/transaction/service.go
Due: goimports -w

feat: implement new queue listen to my rust-processor and call process_balance missing implementation bussiness rule
  rust-processor/src/main.rs
  rust-processor/src/models/mod.rs
  rust-processor/src/models/transaction.rs
  rust-processor/src/services/mod.rs
  rust-processor/src/services/process_balance.rs
Due: cargo fmt --

feat: create connection to my processor to redis for write balance by accountId
  rust-processor/Cargo.lock
  rust-processor/Cargo.toml
  rust-processor/src/connections/db.rs
  rust-processor/src/connections/mod.rs
  rust-processor/src/connections/rabbitmq.rs
  rust-processor/src/connections/redis.rs
  rust-processor/src/main.rs
  rust-processor/src/processors/mod.rs
  rust-processor/src/processors/processor_balance.rs
  rust-processor/src/processors/processor_transaction.rs
  rust-processor/src/repository/account_repository.rs
  rust-processor/src/repository/transaction_repository.rs
  rust-processor/src/services/mod.rs
Due: cargo fmt --

refactor: desacople code of main, create a file application for running my listen loops and call on main
  rust-processor/src/application.rs
  rust-processor/src/connections/rabbitmq.rs
  rust-processor/src/main.rs
Due: cargo fmt --

refactor: change redis implementation on docker now exist two permissions reader to my go-api and writer to my rust-processor
  .env.example
  .env.example.development
  docker-compose.yml
  redis/Dockerfile
  redis/docker-entrypoint.sh
  redis/redis.conf
Due: none

refactor: change redis implementation to go-api, add user
  go-api/internal/config/config.go
  go-api/internal/config/db_connection.go
  go-api/internal/config/rabbitmq_connection.go
  go-api/internal/config/redis_connection.go
  go-api/internal/connection/redis.go
Due: goimports -w

refactor: resolve rust-processor to redis posts
  rust-processor/src/application.rs
  rust-processor/src/config.rs
  rust-processor/src/processors/processor_balance.rs
Due: cargo fmt --

fix: revolve business rule issue with request balance of not exist account
  go-api/internal/transaction/handler.go
  go-api/internal/transaction/service.go
Due: goimports -w

feat: update balance after anything request about transactions is complete with success
  rust-processor/src/application.rs
  rust-processor/src/processors/processor_transaction.rs
Due: cargo fmt --

feat: create and implement logic service process_purchase
  rust-processor/src/processors/processor_transaction.rs
  rust-processor/src/services/deposit_service.rs
  rust-processor/src/services/purchase_service.rs
Due: cargo fmt --

fix: resolve little problem invert err and value of return function
  go-api/internal/i18n/errors.go
  go-api/internal/transaction/handler.go
Due: goimports -w

feat: implement refund processor
  rust-processor/src/application.rs
  rust-processor/src/processors/processor_balance.rs
  rust-processor/src/processors/processor_transaction.rs
  rust-processor/src/repository/transaction_repository.rs
  rust-processor/src/services/refund_service.rs
Due: cargo fmt --

doc: update go-api documentation
  go-api/docs/docs.go
  go-api/docs/swagger.json
  go-api/docs/swagger.yaml
  go-api/internal/card/dto/card.go
  go-api/internal/card/handler.go
  go-api/internal/models/account.go
  go-api/internal/models/card.go
  go-api/internal/models/transaction.go
  go-api/internal/transaction/dto/transaction.go
  go-api/internal/transaction/handler.go
Due: goimports -w

chore: configure lintstaged for my frontend
  .lintstagedrc.json
  package-lock.json
  package.json
Due: none

feat: initial structure frontend
  frontend/.gitignore
  frontend/README.md
  frontend/eslint.config.js
  frontend/index.html
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/public/vite.svg
  frontend/src/App.css
  frontend/src/App.tsx
  frontend/src/assets/react.svg
  frontend/src/index.css
  frontend/src/main.tsx
  frontend/tsconfig.app.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.ts
  go-api/README.md
Due: none

Path conditions:
  cargo fmt --: any of: *.rs
  goimports -w: any of: *.go
